<mat-card class="card-container">
    <mat-card-header>
        <mat-card-title>Edit profile</mat-card-title>
        <mat-card-subtitle>Edit information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="profileForm" class="form-container" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="fullname" >
                <mat-error *ngIf="f['fullname'].hasError('required')">name <strong>required</strong></mat-error>
                
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Date of birth</mat-label>
                    <input formControlName="dateofbirth" matInput [matDatepicker]="dp1">
                    <mat-hint>YYYY-MM-DD</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" >
                <mat-error *ngIf="f['fullname'].hasError('required')">name <strong>required</strong></mat-error>
                
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Mobile Numbber</mat-label>
                <input matInput formControlName="mobilenumber" >
                <mat-error *ngIf="f['mobilenumber'].hasError('required')">name <strong>required</strong></mat-error>
                
            </mat-form-field>
            <mat-form-field appearance="fill" class="f-w">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" (ngModelChange)="emailchange($event)">
                <mat-error *ngIf="f['email'].hasError('required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="f['email'].hasError('email')">Email is <strong>invalid</strong></mat-error>
                <mat-error *ngIf="f['email'].hasError('notUnique')">Email <strong>already used</strong>. Choose another one.</mat-error>
            </mat-form-field>
            
            <div class="f-w">
                <button mat-raised-button color="primary" class="btn btn-primary btn-sm" type="submit" [disabled]="profileForm.invalid">Update</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>


