.card-container {
    width: 70%;
    margin: 20px auto;
  }
  .form-container{
    margin: 10px 0;
  }
  .f-w {
    width: 100%;
  }
  .flex{
    display: flex;
  }
  @media screen and (max-width: 600px) {
    .card-container {
      width: 97%;
      margin: 15px auto;
    }
  }