.line {
    display: flex;
    flex-direction: row;
   padding: 15px;
}
.label{
    width: 150px;
    font-weight: 500;
}
.value {
    flex: 1 1 auto;
}
.avatar{
    cursor: pointer;
}
.file-input {
    display: none;
}